.contact {
    text-align: center;
    background-color: lightgrey;
   
}
.form{
    width: 50%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid black;
    border-radius: 5px;
    margin-top:25px;
    margin-left: 1%;
    font-size:15px;

}

.textArea{
    height: 200px;
    max-height: 200px;
}

/* Estilos para el botón enviar */

.formBtn{
    width:180px;
    display: block;
    height: auto;
    padding: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    background-color: rgba(17, 17, 17);
}

.formBtn:hover{
    background:#333;
    color: #fff;
    border: none;
}

/* .contact{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.contact input{
    margin: 5px;
}
.contact textarea{
    min-width: 400px;
} */
/* }
.contact input[type="submit"]{
    width: 300px;
    padding: 5px;
}
.contact input{
    padding: 10px;
    font-size: medium;
    margin: 10px;
    width: 300px;
}
.contact textarea{
    font-size: larger;
    margin: 10px;
    min-width: 300px;
} */

  