/* .filters { 
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    flex-direction: column;
    justify-content: space-around;
}
.filters > div {
    display: flex;
    gap: 1rem;
} */