footer {
  background-color: rgba(17, 17, 17);
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
  color: wheat;
  text-align: center;
  
}
footer i{
  font-size: 24px;
}
footer span {
  font-size: 18px;
  color: white;
  margin: 10px;
}
footer span:hover{
  cursor: pointer;
}

.ig i:hover {
  color: rgb(223, 43, 115);
}

.fb i:hover {
  color: rgb(43, 115, 223);
}

.wp i:hover {
  color: rgb(104, 232, 92);
}

/* 
form {
    width: 80%;
}
input{
  width: 50%;
}
form 
label, textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
} */